@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none !important;
}

header {
    background-color: #11afe3;

    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
}

.logo {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    margin-left: -50px;
}

.navigation a {
    color: #1f5aff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation .active {
    color: #ffffff;
    font-weight: bold;
}


.navigation a:hover {
    color: #ffffff;
}

section {
    padding: 150px 100px;
}

.main {
    display: flex;
    background-color: #b0129987;
    

}

.main h2 {
    color: #dadada;
    font-size: 1.8em;
    font-weight: 400;
}

.main h3 {
    color: #dadada;
    font-size: 4em;
    font-weight: 700;

}

.main h3 span {
    color: #507fff;
}

.main-btn {
    color: #fff;
    background-color: #507fff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-right: 10px;
    transition: 0.7s ease;
    margin-top: 10px;

}

.main-btn:hover {
    background-color: #0a49f6;
    transform: scale(1.1);
}

.social-icons a {
    color: #f0f0f0;
    font-size: 3em;
    margin-left: 40px;
    padding-right: 10px;

}

.title {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 2.2em;
    font-weight: 800;

}

.skills {
    background-color: #e791d49e;
}

.skills .content {
    text-align: center;
}

.skill-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-button {
    margin: 5px;
    padding: 20px 30px;
    background-color: #507fff;
    color: #fff;
    width: 20em;
    border: none;
    border-radius: 10px;
    margin: 20px;
    font-size: larger;
}


.projects {
    background-color: #b0129987;
}

.projects .content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-card {
    background-color: #507fff;
    border: 1px solid #bbbbbb;
    min-height: 14em;
    width: 20em;
    color:white;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
}

.project-image img {
    border-radius: 10px;
    width: 100%
}

.project-info {
    padding: 1em;
    font-weight: 500;

}

.project-title {
    color: white;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;

}

.resume {
    background-color: #e791d49e;
}

.resume-button {
    display: block;
    margin: 0 auto;
    padding: 20px 30px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    background-color: #507fff;
    color: #ffffff;
    width: 20em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: larger;
    text-align: center;
    margin-top: 50px;

}

.resume-button:hover {
    background-color: #72899e;
    transform: scale(1.1);
}

.contact {
    background-color: #b0129987;
    text-align: center;
    min-height: 300px;
    padding: 185px;

}

.contact .info {
    background-color: #507fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 0 auto;
    transition: 0.7s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-top: 50px;
}

.contact .info a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.info:hover {
    background-color: #72899e;
    transform: scale(1.1);
}

.footer {
    background-color: #11afe3;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: center;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #225dff;
}
